spawn-at-startup "noctalia-shell"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "systemctl" "--user" "restart" "xdg-desktop-portal-wlr" "xdg-desktop-portal"
